[v-cloak] {
    display: none;
}

#app {
    margin: 0 500px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}

th,
td {
    padding: 8px 16px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f7f7f7;
    color: #666;
    font-weight: 600;
    white-space: nowrap;
}

.total-prices {
    color: red;
}